.checkbox-type,
.checkbox-purpose {
    display: none;
    transition: $transit;

    &__title {
        margin-bottom: 15px;
    }
}

#bed:checked ~ .button,
#sofa:checked ~ .button,
#armchair:checked ~ .button,
#table:checked ~ .button,
#wardrobe:checked ~ .button,
#bedroom:checked ~ .button,
#livingroom:checked ~ .button,
#diningroom:checked ~ .button {
    color: #fff;
    background: #888;
}
