$widthSite: 1000px;
$gap: 32px;
$colorHover: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3) //   rgba(120, 120, 120, 0.5) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(120, 120, 120, 0.5) 100%
);
$transit: all 0.3s;
$transit-fast: all 0.2s;
